.main{
    width: 800px;
}

.six{
    position: relative;
    height: 400px;
}

.point{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    
}

.point1{
    border: 1px solid red;
    position: absolute;
    left: 40;
   
}

.point2{
    border: 1px solid blue;
    position: absolute;
    left: 90;
    top: 50;
}

.point3{
    border: 1px solid green;
    position: absolute;
    left: 140;
    top: 100;
}