@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

.main{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger{
    padding-right: 104px;

}

.header__menu_lng, .header__menu_money{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;

}

.path__gl,
.path__lk,
.main__btn,
.personal__text,
.adress__text,
.main__button,
.footer__col_item{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;

}

.input{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 200;

}

.footer__col_name{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;

}

.header__nav{
    display: flex;
    gap: 25px;
    padding-right: 102px;
}

.header__name{
    padding-right: 77px;
    display: flex;
    align-items: center;

}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__menu{
    display: flex;
    gap: 20px;
    padding-right: 74px;
}

.header__images{
    display: flex;
    gap: 30px;
}

.path{
    display: flex;
    gap: 5px;
}

.main__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3px solid #252525;
    border-left: none;
    border-right: none;
}

.main__btn{
    width: 219px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__btn_active{
    background: #E0BEA2;
    color: white;
}

.personal__inputs{
    display: flex;
    gap: 30px;
}

.input{
    height: 50px;
    width: 270px;
}

.adress__inputs{
    display: flex;
    gap: 20px;

}

.adress__inputs_item{
    width: 560px;
    height: 50px;
}

.main__button{
    background: #E0BEA2;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    border: none;
}

.path{
    padding-top: 30px;
    padding-bottom: 30px;
}

.personal__text, .adress__text{
    /* padding-top: 20px; */
    padding-bottom: 20px
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer__col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last__text{
    text-align: center;
}

@media screen  and (min-device-width: 320px) and (max-device-width: 480px){
    .header__nav{
        display: none;
    }

    .header__menu_money{
        display: none;
    }

    .lup, .person{
        display: none;
    }

    .main__btn{
        width: 152px;
        height: 40px;

    }

    .main__buttons{
        display: flex;
        flex-wrap: wrap;
        /* height: 80px; */
        
    }

    .header__burger{
        padding-left: 50px;
    }

    .main, .header{
        max-width: 335px;
    }

    .input, .adress__inputs_item{
        width: 335px;
        height: 40px;
    }

    .personal__inputs, .adress__inputs{
        display: flex;
        flex-direction: column;
    }

    .header__burger{
        padding-right: 20px;
    }

    .header__menu_lng{
        padding-right: 21px;
        
    }

  

    .header__name{
        width: 97.4px;
        height: 20px;
        padding-right: 58px;
        order: 1;
    }

    .header__images{
        display: flex;
        gap: 20px;
    }

    .header__images_item{
        
        width: 20px;
        height: 20px;
        
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* .main{
width: 320px;
    } */
   .footer__col_item{
    display: none;

   }

   .footer__col_name-row{
    display: flex;
    width: 335px;
    /* height: 26px; */
    justify-content: center;
    border-bottom:1px solid black ;
    gap: 20px;
    position: relative;
   }

   .footer__col_name-row-img{
    justify-self: flex-end;
   }

   .btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 35;
    left: 300;
   }
   

  .footer__col_item-kont{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .footer__images-kont{
    margin: 0 auto;
  }

  .footer__col_name-row-kont{
    border: none;
    
  }

  .footer__col_name-kont{
    margin-bottom: 0;
  }
}